#main_nav {
  display: inline-block;
  overflow: hidden;
  background-color: #0066FF;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

#main_nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  padding: 0;
}

#main_nav ul li {
  display: inline-block;
}

#main_nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: Monserrat, sans-serif serif;
  font-size: 1.2em;
  padding: 0.88em 0.88em;
}

#main_nav ul li a:hover {
  color: #FFF;
  background-color: #005ce6;}

@media screen and (max-width: 480px) {
  #main_nav {display: inline;}
  #main_nav ul {display: inline; margin: 0 auto;}
  #main_nav ul li {display: inline; text-align: center;}
  #main_nav ul li a {display: inline-block; font-size: 0.88em;}
   h1 span {display: none;}
}
