body {
    /* 62.5% */
    /* > *:not(:first-child) */
    /*
    * + * {
      margin-top: --var(--line-height);
    }
    */
  
    font-size: --var(--s0);
    font-family: --var(--font-primary);
    line-height: --var(--line-height);
  }
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body > * {
      width: 1366px;
  }