.container {
  width: 1366px;
}

body * + * {
  margin-top: 1.5rem;
}

a:link {
  color: var(--base-colour);
}
a:visited {
  color: var(--secondary-colour);
}
a:focus {
  color: var(--tertiary-color);
}
a:hover {
  color: var(--tertiary-color);
}
a:active {
  color: var(--tertiary-color);
}

.warning {
    color: darkred;
}
