:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Lato', cursive;
    --ratio: 1.5;
    --line-height: var(--ratio);
    --line-height-small: calc(0.8 * var(--ratio));
    --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
    --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
    --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
    --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
    --base-colour: #131516;
    --secondary-colour: #365361;
    --tertiary-color: #537E94;
    --quaternary-color: #365361;
    --border-color-dark: #537E94;
    --border-color-light: #C1D6E0;
    --focus-border: var(--border-color-dark);
  }
  ul {
      list-style: none;
  }
  