@import "custom_properties.css";
@import "reset.css";
@import "reusable_classes.css";
@import "layout.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--s0);
  font-family: var(--font-primary);
  line-height: var(--line-height);
}

body * + * {
  margin-top: 1.5rem;
}

h1 {
  font-size: var(--s4);
}
h2 {
  font-size: var(--s3);
}
h3 {
  font-size: var(--s2);
}
h4 {
  font-size: var(--s1);
}
h5 {
  font-size: var(--s1);
}
h6 {
  font-size: var(--s1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--base-colour);
}

p {
  margin-top: var(--s-1);
  font-family: var(--font-secondary);
}

li {
  margin-top: var(--s-5);
  font-family: var(--font-secondary);
}

a:link {
  color: var(--base-colour);
  padding: var(--s-3);
}
a:visited {
  color: var(--secondary-colour);
}
a:focus {
  color: black;
  background: yellow;
}
a:hover {
  color: black;
  background: yellow;
}
a:active {
  color: var(--tertiary-color);
}

.warning {
  color: darkred;
}
