@import "custom_properties.css";
@import "reset.css";
@import "reusable_classes.css";
@import "layout.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--s0);
  font-family: var(--font-primary);
  line-height: var(--line-height);
  background: #f7f7f7;
}

body * + * {
  margin-top: 1.5rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--base-colour);
}
h1 {
  font-size: var(--s3);
  font-weight: 800;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--border-color-dark);
}
@media (max-width: 1200px) {
  h1,
  h2 {
    line-height: var(--line-height-small);
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: var(--line-height-small);
  }
}
h2 {
  font-size: var(--s2);
  font-weight: 700;
}
h3 {
  font-size: var(--s1);
  font-weight: 700;
}
h4 {
  font-size: var(--s1);
  font-weight: 700;
}
h5 {
  font-size: var(--s1);
  font-weight: 700;
}
h6 {
  font-size: var(--s1);
  font-weight: 700;
}
p {
  font-family: var(--font-secondary);
  font-weight: 400;
}
li {
  font-family: var(--font-secondary);
  font-weight: 400;
}
nav li {
  margin-top: var(--s-5);
}
main li {
  font-size: 1.125rem;
  line-height: var(--line-height-small);
}
.tagtitle {
  font-size: var(--s1);
  font-style: italic;
  margin-top: var(--s-5);
}
@media (max-width: 1200px) {
  .tagtitle {
    margin-top: 1.5rem;
  }
}
a:link {
  color: var(--base-colour);
  padding: var(--s-3);
}
a:visited {
  color: var(--secondary-colour);
}
a:focus {
  color: black;
  background: yellow;
  outline: 2px dashed var(--focus-border);
}
a:hover {
  color: black;
  background: yellow;
  outline: 2px dashed var(--focus-border);
}
a:active {
  color: var(--tertiary-color);
}
address span {
  text-decoration: line-through;
}
.warning {
  color: darkred;
  margin-top: var(--s-2);
  font-style: italic;
}
section > ul {
  list-style-type: circle;
  list-style-position: inside;
}
.header-bottom {
  padding: 1.5rem 0 2rem;
  border-bottom: 3px solid var(--border-color-dark);
  border-top: 3px solid var(--border-color-dark);
}
.container > footer {
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-color-dark);
}
.container > main {
  margin-bottom: 1.5rem;
}
main > footer {
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-color-dark);
}
#main > section {
  padding-top: 1rem;
  margin-top: 1.5em;
  border-top: 1px solid var(--border-color-dark);
}
