.container {
  width: 1366px;
  margin: var(--s-2);
}

/* header */
.menu-toggle {
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.menu {
  display: block;
}

.menu-toggle {
  font-size: 36px;
  background: white;
  border: var(--border-color-dark);
}

.menu a {
  display: block;
}

.menu.active {
  display: block;
}

.menu-toggle:focus {
  outline: 2px solid var(--focus-border);
}

header nav ul {
  text-align: right;
}

header nav ul li {
  display: inline-block;
}

header nav ul li + li {
  margin-left: var(--s-3);
}

@supports (display: flex) {
  .menu {
    display: flex;
    justify-content: flex-end;
    gap: var(--s-3);
  }
  header nav ul li + li {
    margin-left: initial;
  }
}

@supports (display: grid) {
  .menu {
    display: grid;
    grid-template-columns: repeat(7, fit-content(120px));
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: var(--s-3);
  }
}

/* media tablet landscape */
@media (max-width: 1200px) {
  header nav {
    background: lightsteelblue;
  }
}

/* media tablet portrait */
@media (max-width: 940px) {
  header nav {
    background: lightgrey;
  }
}

/* media phone portrait */
@media (max-width: 680px) {
  header nav {
    background: lightslategrey;
  }

  .menu-toggle {
    display: inline-block;
  }

  .menu {
    display: none;
  }

  nav {
    text-align: right;
  }

  header nav ul {
    text-align: center;
  }

  header nav ul li {
    display: block;
  }
}

.header-bottom {
  display: flow-root;
}
.leftheader {
  float: left;
  width: 50%;
}
.rightheader {
  float: left;
  width: 50%;
}

@supports (display: flex) {
  .header-bottom {
    display: flex;
  }
  .leftheader {
    float: initial;
    width: initial;
    flex-basis: 50%;
  }
  .rightheader {
    float: initial;
    width: initial;
    flex-basis: 50%;
  }
}

@supports (display: grid) {
  .header-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .leftheader {
    float: initial;
    width: initial;
    flex-basis: initial;
  }
  .rightheader {
    float: initial;
    width: initial;
    flex-basis: initial;
  }
}

@media (max-width: 680px) {
  .leftheader {
    float: none;
    width: 100%;
  }
  .rightheader {
    float: none;
    width: 100%;
  }
}

@supports (display: flex) and (not (display: grid)) {
  @media (max-width: 680px) {
    .header-bottom {
      flex-direction: column;
    }
    .leftheader {
      flex-basis: 100%;
      width: initial;
    }
    .rightheader {
      flex-basis: 100%;
      width: initial;
    }
  }
}
