.container {
  width: 1366px;
  margin: 0 var(--s-2) var(--s-2);
}

/* header */
.menu-toggle {
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.menu {
  display: block;
}

.menu-toggle {
  font-size: 36px;
  background: white;
  border: var(--border-color-dark);
}

.menu a {
  display: block;
}

.menu.active {
  display: block;
}

.menu-toggle:focus {
  outline: 2px solid var(--focus-border);
}

header nav ul {
  text-align: right;
}

header nav ul li {
  display: inline-block;
}

header nav ul li + li {
  margin-left: var(--s-3);
}

@supports (display: flex) {
  .menu {
    display: flex;
    justify-content: flex-end;
    gap: var(--s-3);
  }
  header nav ul li + li {
    margin-left: initial;
  }
}

@supports (display: grid) {
  .menu {
    display: grid;
    grid-template-columns: repeat(7, fit-content(130px));
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: var(--s-3);
    justify-content: flex-end;
  }
}

/* media tablet landscape */
@media (max-width: 1200px) {
  header nav {
    background: transparent;
  }
}

/* media tablet portrait */
@media (max-width: 940px) {
  header nav {
    background: transparent;
  }
}

/* media phone portrait */
@media (max-width: 680px) {
  header nav {
    background: transparent;
  }

  .menu-toggle {
    display: inline-block;
  }

  .menu {
    display: none;
  }

  header nav {
    text-align: right;
  }

  header nav ul {
    text-align: center;
  }

  header nav ul li {
    display: block;
  }
}

.header-bottom {
  display: flow-root;
}
.leftheader {
  float: left;
  width: 50%;
}
.rightheader {
  float: left;
  width: 50%;
}

@supports (display: flex) {
  .header-bottom {
    display: flex;
  }
  .leftheader {
    float: initial;
    width: initial;
    flex-basis: 50%;
  }
  .rightheader {
    float: initial;
    width: initial;
    flex-basis: 50%;
  }
}

@supports (display: grid) {
  .header-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .leftheader {
    float: initial;
    width: initial;
    flex-basis: initial;
  }
  .rightheader {
    float: initial;
    width: initial;
    flex-basis: initial;
  }
}

@media (max-width: 680px) {
  .leftheader {
    float: none;
    width: 100%;
  }
  .rightheader {
    float: none;
    width: 100%;
  }
}

@supports (display: flex) {
  @media (max-width: 680px) {
    .header-bottom {
      flex-direction: column;
    }
    .leftheader {
      flex-basis: 100%;
      width: initial;
    }
    .rightheader {
      flex-basis: 100%;
      width: initial;
    }
  }
}

main {
  display: flow-root;
}
.main-body {
  display: flow-root;
}
main section {
  margin-top: 0;
}
main section:first-of-type {
  width: 38%;
  float: left;
}
main section:nth-of-type(2) {
  width: 16%;
  float: left;
  padding: 0 4%;
}
@media (max-width: 680px) {
  .main-body * + * {
    margin-top: 1.5rem;
  }
}
main section:last-of-type {
  width: 40%;
  float: right;
}
main footer {
  clear: both;
}
main footer p {
  text-decoration: line-through;
}
main footer p:last-of-type,
main footer p.warning {
  text-decoration: none;
}

@supports (display: flex) {
  main {
    display: flex;
    flex-direction: column;
  }
  .main-body {
    display: flex;
    align-items: stretch;
    gap: 2%;
  }
  main section:first-of-type {
    flex-basis: 38%;
  }
  main section:nth-of-type(2) {
    flex-basis: 18%;
    padding: initial;
  }
  main section:last-of-type {
    flex-basis: 38%;
  }
}

@supports (display: flex) {
  @media (max-width: 680px) {
    .main-body {
      display: flex;
      align-items: normal;
      gap: 0;
      flex-direction: column;
    }
    main section:first-of-type {
      width: initial;
      flex-basis: auto;
    }
    main section:nth-of-type(2) {
      width: initial;
      flex-basis: auto;
    }
    main section:last-of-type {
      width: initial;
      flex-basis: auto;
    }
  }
}

@supports (display: grid) {
  main {
    display: flow-root;
  }
  .main-body {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(16rem, 2fr) minmax(16rem, 1fr) minmax(16rem, 2fr)
    );
    grid-gap: 3%;
  }
  main section:first-of-type {
    width: auto;
  }
  main section:nth-of-type(2) {
    width: auto;
    padding: inherit;
  }
  main section:last-of-type {
    width: auto;
  }
  main section:first-of-type {
    flex-basis: initial;
  }
  main section:nth-of-type(2) {
    flex-basis: initial;
    padding: initial;
  }
  main section:last-of-type {
    flex-basis: initial;
  }
}

@supports (display: grid) {
  @media (max-width: 940px) {
    .main-body {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
    .main-body * + * {
      margin-top: 1.5rem;
    }
    main section:nth-of-type(2) img {
      width: 50%;
    }
  }
}

.secondary-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: var(--s-3);
}
footer p.copyright {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 680px) {
  .secondary-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: none;
  }
}

header-component, primary-navigation, secondary-navigation {
  display: block;
}